*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: lightcyan;
    min-height: 100vh;
    border: 10px solid black;
}
.top_section{

    margin-top: 200px;
}
.image_container{
    border-radius: 50px;
    overflow: hidden;
    size: 100px;
}
.image_container img{
    width: 400px;
    
    
}
.img_main{
    
    margin-left: 700px;
}